body {
  background-color: #6fabb7;
}

.title {
  display: flex;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #162224;
}

.button {
  background-color: #162224;
  color: #6fabb7;
  border: 2px;
  border-radius: 20%;
  padding: 10px 15px;
  margin-left: 20px;
}

.output {
  display: flex;
  flex-direction: column;
  width: 900px;
}

.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px;
  width: 700px;
  height: 500px;
  background-color: #4d7780;
  color: #6fabb7;
  font-size: 30px;
  padding: 0px 20px 0px 20px;
  border-radius: 10% 0% 10% 0%;
}

.author {
  color: #162224;
  display: flex;
  justify-content: flex-end;
  margin-right: 120px;
}
